.profile__edit-button {
    background: url("../../../images/profile/edit-button.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid white;
    margin-left: 18px;
    transition: opacity .4s ease;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        background-size: 7.5px;
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}