.profile__info {
    max-width: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    gap: 16px;
}

@media screen and (max-width: 767px) {
    .profile__info {
        width: 282px;
        margin: 24px auto 34px;
        padding: 0;
        gap: 8px;
    }
}