.popup__input {
    min-width: 358px;
    padding: 0 0 8px 0;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

@media screen and (max-width: 767px) {
    .popup__input {
        min-width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}

