.popup__container {
    max-width: 430px;
    max-height: 330px;
    padding: 34px 36px 37px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    background: white;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
        padding: 25px 22px;
    }
}
