.profile__about {
    max-width: 336px;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    vertical-align: bottom;
}

@media screen and (max-width: 767px) {
    .profile__about {
        width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}