.profile {
    max-width: 880px;
    margin: 0;
    padding: 40px 0 51px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
        max-height: 286px;
        padding: 40px 0 36px;
    }
}