.popup__submit-button {
    min-width: 358px;
    min-height: 50px;
    background: #000;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 400;
    margin-top: 48px;
}