.element__like-box {
    width: 10px;
    height: 13px;
    margin: 0;
    padding: 0;
    color: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    box-sizing: border-box;
}