.popup__place-img {
    width: 100%;
    max-width: 816px;
    height: 540px;
    margin: 0 0 10px;
    padding: 0;
    object-fit: cover;
    border: none;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .popup__place-img {
        width: 433px;
    }
}

@media screen and (max-width: 767px) {
    .popup__place-img {
        width: 240px;
        height: 299px;
    }
}