.profile__box {
    width: 120px;
    height: 120px;
    margin-top: 3.75px;
    margin-right: 30px;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    object-fit: cover;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .profile__box {
        margin: 0 auto;
        margin-top: 4px;
        margin-bottom: 26px;
    }
}

.profile__box:hover .profile__overlay {
    opacity: 1;
    transition: 1s;
}