.footer {
    max-width: 318px;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media screen and (max-width:767px) {
    .footer {
        max-width: 282px;
        padding: 48px 19px 36px;
    }
}
