.popup__container-img {
    max-width: 75vw;
    max-height: 75vh;
    background-color: #FFF;
    background: rgba(0, 0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column;
}
